<form clrForm clrLayout="horizontal">
  <clr-input-container>
    <label>Pokemon</label>
    <input clrInput placeholder="Pokemon name" name="name" [(ngModel)]="name" />
  </clr-input-container>

  <clr-input-container>
    <label>Raid level</label>
    <input clrInput type="number" max="5" min="1" placeholder="Raid level" name="level" [(ngModel)]="level" />
  </clr-input-container>
  <br>
  <div style="position: relative; left: 220px;">
  <button [clrLoading]="loading" class="btn btn-success-outline" (click)="callData()">run calcs</button>
  </div>
</form>

<div class="strike">
  <span>Results</span>
</div>

<div *ngFor="let pokemon of poks?.pokemons" style="margin-left: 10px">
  <h4>{{pokemon?.name}} ({{pokemon?.level}})</h4>
  <ul>
    <li>
      <span class="label label-info">{{pokemon?.timeToWin/1000}}</span>
      <span class="label label-danger">{{pokemon?.deaths | number }}</span>
      <span class="label label-success">{{pokemon?.bestMoveFast}}</span>
      <span class="label label-success">{{pokemon?.bestMoveCharge}}</span>
    </li>
  </ul>
</div>


